// Common colors
$background_color: white;
$secondary_dark_color: #757575;

// Text
$text_light_color: white;
$text_dark_color: black;

// Components
$footer_color: #212121;
$header_color: #212121;

// Third party colors
$twitter_font_color: #55ACEE;
$twitter_secondary_color: #e1e8ed;
